<div class="my-container">
  <div class="middle">
    <h1>New Game</h1>
    <div class="letters">
      <% @letters.each do |letter| %>
      <h3 class="letter"><%= letter %></h3>
      <% end %>
    </div>
  </div>
  <form action="/score" method="post" data-turbo="false" class="d-flex justify-content-between align-items-center p-3">
    <input type="text" placeholder="Your word..." name="answer" class="form-control me-4">
    <%= hidden_field_tag :letters, @letters %>
    <input type="submit" value="Enter" class="btn btn-primary">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
