@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  font-family: "Pangolin", serif;
  font-weight: 400;
  font-style: normal;
}

.my-container {
  margin: 0 auto;
  padding: 100px;
}

.middle {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}

.letters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.letter {
  background-color: #005B96;
  color: white;
  font-size: 24px;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
